/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 *= require vendor
  .
*/

.status_bar.small {
    height: 0.5em;
    width: 173px;
}

.status_bar.large {
    height: 0.5em;
    width: 100%;
}

.movies.show .rating {
    width: 50%;
    float: left;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.rating img {
    margin-right: 20px;
}

.info {
    width: 25%;
    float: left;
}

.status_bar {
    margin-right: 20px;
    border: 1px solid black;
    background-color: white;
}

.progress {
    background-color: green;
    height: 0.5em;
}

a:link, a:visited {
    color: white;
}

#ajax_loader {
    display: none;
}

.movies.show * {
    font-size: 12px;
}

.movies.show table {
    width: 100%;
    text-align: left;
    margin: 20px 0;
}

.movies.show .info img {
    background-color: white;
}

.movies.show .info {
    width: 33%;
}